
.App {
  text-align: center;
}

.counter-container {
  padding: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.buttons {
  padding: 15px 30px 15px 30px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  transition: 0.4s ease;
}

.buttons:hover {
  transform: scale(1.3, 1.3);
}

.count-value {
  background-color: black;
  color: white;
  letter-spacing: 1px;
  padding: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
